In [18]:
from datetime import datetime

In [3]:
import pandas as pd

# Replace 'file.csv' with your actual file path
df = pd.read_csv('Output_C.csv')

# Preview the first 5 rows
print(df.head())

                          Title          Date Rating  \
0                       Pac-Man   Aug 9, 2006      E
1                 Kinect Sports   Jun 6, 2017   E10+
2              Metal Gear Solid  Jun 21, 2024      M
3  Monster Hunter Freedom Unite  Sep 12, 2006   E10+
4       The Simpsons: Hit & Run   Jul 5, 2010      T

                                         Description                    Score  \
0  [Xbox Live Arcade]  Play one of the all-time c...  Metascore 62 out of 100
1  This action sports compilation for the Xbox 36...  Metascore 73 out of 100
2  You are Snake, a government agent on a mission...  Metascore 94 out of 100
3  The Monster Hunter world is always changing an...  Metascore 81 out of 100
4  The Simpsons Hit & Run is a mission-based driv...  Metascore 78 out of 100

   Rank                          Name Platform    Year         Genre  \
0    90                       Pac-Man     2600  1982.0        Puzzle
1   140                 Kinect Sports     X360  2010.0        Sports
2   146              Metal Gear Solid       PS  1998.0        Action
3   162  Monster Hunter Freedom Unite      PSP  2008.0  Role-Playing
4   225       The Simpsons: Hit & Run      PS2  2003.0        Racing

                      Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                         Atari      7.28      0.45      0.00         0.08
1        Microsoft Game Studios      3.92      1.78      0.03         0.51
2  Konami Digital Entertainment      3.18      1.83      0.78         0.24
3                        Capcom      0.47      0.57      4.13         0.34
4                 Vivendi Games      1.73      2.19      0.00         0.79

   Global_Sales
0          7.81
1          6.24
2          6.03
3          5.50
4          4.70

In [4]:
df.columns

Index(['Title', 'Date', 'Rating', 'Description', 'Score', 'Rank', 'Name',
       'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales',
       'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [5]:
selected_columns = ['Title', 'Date', 'Rating','Description','Score','Genre']  # Replace with your actual column names

game_df = df[selected_columns]

print(game_df.head())

                          Title          Date Rating  \
0                       Pac-Man   Aug 9, 2006      E
1                 Kinect Sports   Jun 6, 2017   E10+
2              Metal Gear Solid  Jun 21, 2024      M
3  Monster Hunter Freedom Unite  Sep 12, 2006   E10+
4       The Simpsons: Hit & Run   Jul 5, 2010      T

                                         Description                    Score  \
0  [Xbox Live Arcade]  Play one of the all-time c...  Metascore 62 out of 100
1  This action sports compilation for the Xbox 36...  Metascore 73 out of 100
2  You are Snake, a government agent on a mission...  Metascore 94 out of 100
3  The Monster Hunter world is always changing an...  Metascore 81 out of 100
4  The Simpsons Hit & Run is a mission-based driv...  Metascore 78 out of 100

          Genre
0        Puzzle
1        Sports
2        Action
3  Role-Playing
4        Racing

In [6]:
selected_columns = ['Platform']  # Replace with your actual column names

platform_df = df[selected_columns]

print(platform_df.head())

  Platform
0     2600
1     X360
2       PS
3      PSP
4      PS2

In [25]:
platform_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Platform  88 non-null     object
dtypes: object(1)
memory usage: 836.0+ bytes

In [7]:
selected_columns = ['Publisher']  # Replace with your actual column names

publisher_df = df[selected_columns]

print(platform_df.head())

  Platform
0     2600
1     X360
2       PS
3      PSP
4      PS2

In [26]:
publisher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Publisher  88 non-null     object
dtypes: object(1)
memory usage: 836.0+ bytes

In [8]:
selected_columns = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']  # Replace with your actual column names

sales_df = df[selected_columns]

print(sales_df.head())

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0      7.28      0.45      0.00         0.08          7.81
1      3.92      1.78      0.03         0.51          6.24
2      3.18      1.83      0.78         0.24          6.03
3      0.47      0.57      4.13         0.34          5.50
4      1.73      2.19      0.00         0.79          4.70

In [28]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NA_Sales      88 non-null     float64
 1   EU_Sales      88 non-null     float64
 2   JP_Sales      88 non-null     float64
 3   Other_Sales   88 non-null     float64
 4   Global_Sales  88 non-null     float64
dtypes: float64(5)
memory usage: 3.6 KB

In [9]:
game_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        88 non-null     object
 1   Date         88 non-null     object
 2   Rating       88 non-null     object
 3   Description  88 non-null     object
 4   Score        88 non-null     object
 5   Genre        88 non-null     object
dtypes: object(6)
memory usage: 4.3+ KB

In [12]:
game_df['Score'] = game_df['Score'].str.extract(r'(\d+)').astype(int)

/var/folders/9j/ck4ghkj915q59nnl_d5wvg4h0000gn/T/ipykernel_1328/1070738680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_df['Score'] = game_df['Score'].str.extract(r'(\d+)').astype(int)

In [15]:
game_df

,Title,Date,Rating,Description,Score,Genre
0,Pac-Man,"Aug 9, 2006",E,[Xbox Live Arcade] Play one of the all-time c...,62,Puzzle
1,Kinect Sports,"Jun 6, 2017",E10+,This action sports compilation for the Xbox 36...,73,Sports
2,Metal Gear Solid,"Jun 21, 2024",M,"You are Snake, a government agent on a mission...",94,Action
3,Monster Hunter Freedom Unite,"Sep 12, 2006",E10+,The Monster Hunter world is always changing an...,81,Role-Playing
4,The Simpsons: Hit & Run,"Jul 5, 2010",T,The Simpsons Hit & Run is a mission-based driv...,78,Racing
...,...,...,...,...,...,...
83,MySims Agents,"Jul 13, 2017",E,In MySims Agents players take on the role of a...,78,Adventure
84,Legacy of Kain: Soul Reaver,"Mar 2, 2004",M,"Cast down to the material world, the mysteriou...",91,Action
85,Ninja Gaiden II,"Dec 1, 2022",E,"(Also known as ""Ninja Gaiden 2"") In Ninja Gai...",81,Action
86,Prince of Persia,"Jun 3, 2002",E,Set in a land rooted in ancient Persian mythol...,81,Action
87,Disney Infinity,"May 14, 2002",M,In Disney's most ambitious video game initiati...,74,Action

In [21]:
game_df2 = game_df.astype({
    'Title': 'str',
    'Date': 'str',
    'Rating':'str',
    'Description':'str',
    'Score':'int'
})

In [22]:
game_df2['Date'] = pd.to_datetime(game_df2['Date'])

In [24]:
game_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        88 non-null     object
 1   Date         88 non-null     datetime64[ns]
 2   Rating       88 non-null     object
 3   Description  88 non-null     object
 4   Score        88 non-null     int64
 5   Genre        88 non-null     object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 4.3+ KB

In [10]:
game_df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [29]:
game_df2.to_csv('games.csv', index=False)

In [30]:
platform_df.to_csv('platform.csv', index=False)

In [31]:
publisher_df.to_csv('publisher.csv', index=False)

In [32]:
sales_df.to_csv('sales.csv', index=False)